# Node.js
**/node_modules/
**/package-lock.json


# macOS
.DS_Store

# Terraform
**/.terraform/
**/terraform.tfstate*
**/*.tfstate.backup
**/crash.log
# Logs
*.log

# VS Code
.vscode/

# System files
Thumbs.db
ehthumbs.db
